server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://order-db:5432/orderdb
    username: order
    password: order
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info

keycloak:
  realm: mini-projet
  auth-server-url: http://keycloak:8080
  resource: order-service
  public-client: true
  bearer-only: true
