name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Product Service
        run: |
          cd product-service
          ./mvnw clean package -DskipTests

      - name: Build Order Service
        run: |
          cd order-service
          ./mvnw clean package -DskipTests

      - name: Build API Gateway
        run: |
          cd api-gateway
          ./mvnw clean package -DskipTests

      - name: Build Frontend
        run: |
          cd frontend
          npm install
          npm run build


      - name: OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'Mini-Projet'
          path: '.'
          format: 'all'

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/library/product-service:latest'
          format: table

      - name: Trivy Image Scan (Order Service)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/library/order-service:latest'
          format: table

      - name: Trivy Image Scan (API Gateway)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/library/api-gateway:latest'
          format: table

      - name: Trivy Image Scan (Frontend)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/library/frontend:latest'
          format: table
